/*csslint box-sizing: false*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
  }
  
  .container {
    max-width: 1140px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* header */
  header {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: .5px solid #ffff;
    padding: 0 15px;
    z-index: 11;
  }
  
  
  header.fixed {
    background-color: #7b1fa6;
    position: fixed;
    border-color: #ffff;
    animation: fixHeader .5s ease;
    z-index: 11;
  }
  
  @keyframes fixHeader {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(0%);
    }
  }
  
  header .row {
    justify-content: space-between;
    align-items: center;
  }
  
  header .my-name a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
    text-transform: uppercase;
    position: relative;
  }
  
  header.fixed .my-name a{
    color: #ffff;
  }
  
  header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  header .navbar ul li {
    display: inline-block;
    margin-left: 35px;
  }
  
  header .navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 70px;
    color: #ffff;
    font-weight: 700;
    display: block;
    position: relative;
  }
  
  header.fixed .navbar ul li a{
    color: #ffff;
  }
  
  header .navbar ul li a::before {
    content: '';
    height: 3px;
    background-color: #ffff;
    width: 0;
    position: absolute;
    right: 0;
    bottom: -1px;
    transition: all .5s ease;
  }
  
  header.fixed .navbar ul li a::before{
    background-color: #ffff;
  }
  
  header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
  }
  
  header .navbar ul li a.active::before {
    width: 100%;
    left: 0;
  }
  
  /* -------HOME--------- */
  .home {
    min-height: 100vh;
    background-image: url(public/images/Barcelona_a.jpg);
    background-size: cover;
    padding: 50px;
  }
  
  .home .full-screen {
    min-height: 100vh;
  }
  
  .home .home-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .home .home-content .block {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #ffff;
    margin-top: 50px;
  }
  
  .home .home-content .block h6 {
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  
  .home .home-content .block h1 {
    color: #ffff;
    font-size: 60px;
    font-weight: 600;
    margin-right: 0;
    padding: 0;
  }
  
  .home .home-content .block h3 {
    color: #ffff;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  
  .home .home-content .block .cv-button {
    padding-top: 20px;
  }
  
  .home .home-content .block .cv-button a {
    border-radius: 5px;
    color: #ffff;
    /* border: 1px solid #C2185B; */
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #C2185B;
  }
  
  .home .home-content .block .cv-button a:hover {
    background-color: #ffff;
    color: #7b1fa6;
  }
  
  /* -------About------- */
  .about {
    padding: 100px 15px;
    background-color: #ffff;
  }
  
  .about .section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  
  .about .section-title h1 {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #7b1fa2;
    margin: 0 0 10px;
    position: relative;
  }
  
  .about .section-title h1:before {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    right: 35%;
    background-color: #E1BEE7;
    bottom: 0;
  }
  
  .text-uppercase {
    text-transform: uppercase !important;
  }
  
  .about .section-title p.small-text {
    display: block;
    font-size: 14px;
    color: #7b1fa2;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .about .about-content .img {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  
  .about .about-content .img img {
    width: 100%;
    display: block;
  }
  
  .about .about-content .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
  }
  
  .about .about-content .text h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 5px;
    color: #7b1fa2;
  }
  
  .about .about-content .text h6 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 15px;
    color: #7b1fa2;
  }
  
  .about .about-content .text h6 span {
    color: #C2185B;
  }
  
  .about .about-content .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #616161;
    margin: 0 0 15px;
  }

  .about .about-content .text p span{
    color: #7b1fa2;
    font-weight: 500;
  }
  
  .about .about-content .text .my-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .about .about-content .text .my-info .list {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #e1bee7;
    padding-bottom: 10px;
  }
  
  .about .about-content .text .my-info .list label {
    padding-right: 10px;
    color: #C2185B;
    font-weight: 600;
    font-size: 15px;
  }
  
  .about .about-content .text .my-info .list p {
    margin: 0;
  }
  
  .about .about-content .text .social-links {
    padding-top: 25px;
  }
  
  .about .about-content .text .social-links a {
    height: 30px;
    width: 30px;
    background-color: #7b1fa2;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #7b1fa2;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    transition: all .5s ease;
    -webkit
  }
  
  .about .about-content .text .social-links a:hover{
    background-color: transparent;
  }
  
  .about .about-content .text .social-links a .fa {
    color: #ffffff;
    font-size: 12px;
    transition: all .5s ease;
  }
  
  .about .about-content .text .social-links a:hover .fa {
    color: #C2185B;
  }
  
  /* --------skills------------- */
  .skills {
    padding: 100px, 15px;
    background-color: #ffff;
  }

  .skills .skills-content {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 40px;
  }
  
  .skills .img {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .skills .align-items-center {
    align-items: center;
    padding: 100px 15px;
  } 
   
  .skills .img img {
    width: 60%;
    display: block;
    margin-left: 120px;
  }
  
  .skills .skills-title h1 {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #7b1fa6;
    margin: 0 0 10px;
    position: relative;
  }
  
  .skills .skills-title h1:before {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    right: 32%;
    background-color: #e1bee7;
    bottom: 0;
  }
  
  .skills .skills-content .skills-title p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #616161;
    margin: 0 0 10px;
  }
  
  .skills .skills-content .skills-title p span {
    color: #7b1fa6;
    font-weight: 600;
  }
  
  .skills .skills-content .skills-box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .skills .skills-content .skills-box h6 {
    font-size: 16px;
    font-weight: 500;
    color: #616161;
    margin: 0 0 8px;
  }
  
  .skills .skills-content .skills-box .skills-bar {
    height: 5px;
    background-color: #e1bee7;
    position: relative;
  }
  
  .skills .skills-content .skills-box .skills-bar .skill-bar-in {
    background-color: #C2185B;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  
  .skills .skills-content .skills-box .skills-bar .skill-bar-in span {
    color: #838383;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -30px;
  }
  
  /******experience****/
  .experience {
    padding: 100px 0;
    background-color: #e1bee7;
  }
  
  .experience .experience-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  
  .experience .experience-title h1 {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #7b1fa6;
    margin: 0 0 10px;
    position: relative;
  }
  
  .experience .experience-title h1:before {
    content: '';
    position: absolute;
    left: 10%;
    right: 15%;
    height: 2px;
    background-color: #FFFF;
    bottom: 0;
  }
  
  .experience .text-center {
    text-align: center !important;
  }

  .experience .experience-content{
    margin-left: 10%;
  }
  .experience .experience-content .experience-slider .slide {
    background-color: #ffff;
    margin-bottom: 60px;
    margin-right: 10%;
    border: 1px solid #EEEEEE;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
  }

  .experience .experience-content .experience-slider .slide p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #616161;
    margin: 15px 0;
  }
  
  .experience .experience-content .experience-slider .slide h6 {
    font-size: 18px;
    font-weight: 600;
    color: #C2185B;
    margin: 10px 0 10px;
  }
  
  .experience .experience-content .experience-slider .slide span {
    color: #7b1fa6;
    font-size: 15px;
    font-weight: 600;
  }
  
  /* contact me */
  .contact-me {
    padding: 100px 15px;
    background-color: #f5f8fd;
  }
  
  .contact-me .contact-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  
  .contact-me .contact-title h1 {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #7b1fa6;
    margin: 0 0 10px;
    position: relative;
  }
  
  .contact-me .contact-title h1:before {
    content: '';
    position: absolute;
    left: 10%;
    right: 15%;
    height: 2px;
    background-color: #e1bee7;
    bottom: 0;
  }
  
  .contact-me .text-center {
    text-align: center !important;
  }
  
  .contact-me .contact-form {
    background-color: #ffffff;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px;
    border: 1px solid #eeee;
  }
  
  .contact-me .contact-form .text{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
  }
  
  .contact-me .contact-form .text h2{
   font-size: 25px;
   font-weight: 600;
   color: #000000;
   margin: 0;
   padding: 0;
  }
  
  .contact-me .contact-form .text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #616161;
    margin-top: 5px;
  }
  
  .contact-me .contact-form .space-inbetween{
    justify-content: space-between;
  }
  
  .contact-me .contact-form .col-6{
   flex: 0 0 calc(50% - 15px);
   max-width: calc(50% - 15px);
  }
  
  .contact-me .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .contact-me .contact-form .form-control{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
  }
  
  .contact-me .contact-form textarea.form-control{
    height: 140px;
  
  }
  
  
  .contact-me .contact-form .form-control::placeholder{
    color: #616161;
  }
  
  .contact-me .contact-form .button{
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .contact-me .contact-form .button a{
    border-radius: 4px;
    color: #ffff;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #7b1fa2;
    float: right;
    box-shadow: 0 10px 15px #e8e8e8;
  }
  
  .contact-me .contact-form .button a:hover {
    background-color: black;
    color: #ffff;
  }
  
  /* footer */
  
  footer{
    padding: 70px 15px;
    background-color: #7b1fa2;
  }
  
  footer .logo {
    color: #ffff;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: 800;
  }
  
  footer .social-links{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  
  footer .social-links a{
    color: #E1BEE7;
    text-decoration: none;
    display: inline-block;
    margin: 0 12px;
    transition: all .5s ease;
  }
  
  footer .social-links a:hover{
    color: #ffff;
  }
  
  /* copyright */
  
  .copyright {
    background-color: #7b1fa2;
    border-top: .5px solid #ffff;
    padding: 15px;
  }
  
  .copyright p{
    color: #E1BEE7;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
  }
  

  /* responsive */ 

  .ham-burger .fa{
    font-size: 20px;
    height: 30px;
    width: 35px;
    background-color: #ffff;
    color: #000000;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
    border: 1px solid #eeee;
  }

  @media(max-width: 991px){
  /* //if window width less than or equal to 991 */
   .home .home-content .block h1{
    font-size: 50px;
   }
  }

  @media(max-width: 767px){

    .home {
      background-position: center;
    }
    .home .home-content .block h1{
      font-size: 40px;
     }
    .home .home-content .block h3{
      font-size: 30px;
    }
     
   header{
      padding: 15px;
      position: fixed;
      background-color: #ffff;
      border-bottom: 1px solid #eeee;
  }

    header .navbar{   
    position: absolute;
    background-color: #ffff;
    width: 100%;
    left: 0;
    top: 60px;
    padding: 15px;
    border-top: 1px solid #eeee;
    border-bottom: 1px solid #eeee;
    display: none;
  }

   .navbar.show{
   display: block;
 }

   header .navbar ul li {
    display: block;
    margin-left: 0;
  }

  header .navbar ul li a{
    line-height: 42px;
    color: #000000;
  }

  header .navbar ul li a::before{
    background-color: #E1BEE7;
  }

  header .my-name a{
    color: #7b1fa2;
  }
  .ham-burger .fa{
    display: inline-block;
  }

  .about .about-content .img{
    flex: 0 0 100%;
    max-width: 100%;
  }
 
  .about .about-content .text{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-top: 30px;
  }

  .skills .skills-content {
    flex: 0 0 100%;
    max-width: 100%;
}

  .skills .img {
  flex: 0 0 100%;
  max-width: 100%;
}

 .experience .experience-content {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0;
  padding: 20px;
}

 .experience .experience-content .experience-slider .slide{
  flex: 0 0 100%;
  width: 100%;
  padding: 10px;
  float: left;
}

 .contact-me .contact-form {
  padding: 40px 20px;
}

 .contact-me .contact-form .col-6 {
  flex: 0 0 100%;
  max-width: 100%;
}

}

@media(max-width: 500px){

  .home {
    background-position: center;
  }
  .home .home-content .block h1{
    font-size: 25px;
   }
  .home .home-content .block h3{
    font-size: 20px;
  }

  .home .home-content .block{
   padding-left: 15px;
  }

  .about .about-content .text h6 {
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #7b1fa2;
}

 .about .about-content .text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #616161;
  margin: 0 0 15px;
}

  .about .about-content .text .my-info .list p {
    flex: 0 0 100%;
    margin:0;
  }

  .skills .img img {
    width: 60%;
    display: block;
    margin-left: 90px;
}

}
    
